.app.dark{
  --bg-color: #05053b;
  --inverted-bg-color: #ababad;


  --primary-color: #04ff04;
  --secondary-color: #049604;

  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0450ff;
}