:root {
  --bg-color: #F4F4FB;
  --inverted-bg-color: #5E69EE;


  --primary-color: #5E69EE;
  --secondary-color: #39AFEA;

  --inverted-primary-color: #F4F4FB;
  --inverted-secondary-color: #39AFEA;
}