.app_purple_theme {
  --bg-color: #faf4fb;
  --inverted-bg-color: #861CCB;

  --primary-color: #861CCB;
  --secondary-color: #3B7BBF;

  --inverted-primary-color: #faf4fb;
  --inverted-secondary-color: #3B7BBF;
}