.MovieAbout {
}
.field{
  display: flex;
  padding: 8px;
  font: var(--font-s-redesigned);
  overflow-y: hidden;
  overflow-x: hidden;

}
.fieldName{
  width: 160px;
  opacity: 0.8;
}
.fieldDescription{
  max-width: 350px;
}